<div class="d-flex justify-content-center">
    <div class="card text-white mb-3"
      style="max-width: 18rem; border-radius: 25px; padding-left: 15px; padding-right: 15px; padding-bottom: 150px;">
      <div class="card-body">
        <h1 class="card-title">Profil</h1>
        <svg style="border-radius: 75%; background-color: #7777ad; padding: 10px;" xmlns="http://www.w3.org/2000/svg"
          width="120" height="120" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
        </svg>
        <form style="margin-top: 30px;">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="foulen@gmail.com">
          </div>
          <div class="mb-3">
            <label for="mdp" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" name="mdp" id="mdp" placeholder="••••••••">
          </div>
          <div class="d-grid">
            <button type="button" class="btn">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>