<div *ngIf="authenticated; else connexion">
  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-list"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
      </button>
      <h2> {{pageTitle}} </h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-bell-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901" />
      </svg>

      <div class="offcanvas offcanvas-start w-50" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <svg data-bs-dismiss="offcanvas" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white"
            class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
          </svg>
        </div>
        <div id="sidebar" class="offcanvas-body">
          <ul class="navbar-nav flex-grow-1 pe-3">
            <div *ngFor="let navItem of navigation">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="[navItem.link]" data-bs-dismiss="offcanvas"
                  (click)="setPageTitle(navItem.page)"><b>
                    {{navItem.page}} </b></a>
              </li>
              <div class="lign"></div>
            </div>
            <br>
            <br>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" data-bs-dismiss="offcanvas"
                (click)="deconnecter()"><b>Déconnexion</b></a>
            </li>
            <div class="lign"></div>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div id="main">
    <div class="container" style="padding-top: 70px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #connexion>
  <div class="d-flex justify-content-center">
    <div class="card text-white mb-3"
      style="max-width: 18rem; border-radius: 25px; margin-top: 120px; padding-left: 15px; padding-right: 15px;">
      <div class="card-body">
        <h1 class="card-title">Connexion</h1>
        <svg style="border-radius: 75%; background-color: #7777ad; padding: 10px;" xmlns="http://www.w3.org/2000/svg"
          width="120" height="120" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
        </svg>
        <form style="margin-top: 30px;">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input [(ngModel)]="personneLogin.email" type="email" class="form-control" name="email" id="email" placeholder="foulen@gmail.com">
          </div>
          <div class="mb-3">
            <label for="mdp" class="form-label">Mot de passe</label>
            <input [(ngModel)]="personneLogin.password" type="password" class="form-control" name="mdp" id="mdp" placeholder="••••••••">
          </div>
          <p *ngIf="badLogin" style="color: crimson !important;"> <b>Erreur survenu, vérifier votre email ou mot de passe!</b></p>
          <div class="d-grid">
            <button type="button" class="btn" (click)="seConnecter()">Se connecter</button>
            <br>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#creation_compte">Créer
              un compte</button>

            <!-- Modal -->
            <div class="modal fade" id="creation_compte" tabindex="-1" aria-labelledby="creation_compte"
              aria-hidden="true" style="color: black;">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable .modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Créer un nouveau compte</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="nom_creation" class="form-label">Nom</label>
                        <input type="text" [(ngModel)]="formCreation.nom" class="form-control" name="nom_creation" id="nom_creation">
                      </div>
                      <div class="mb-3">
                        <label for="prenom_creation" class="form-label">Prénom</label>
                        <input type="text" [(ngModel)]="formCreation.prenom" class="form-control" name="prenom_creation" id="prenom_creation">
                      </div>
                      <div class="mb-3">
                        <label for="email_creation" class="form-label">Email</label>
                        <input type="email" [(ngModel)]="formCreation.email" class="form-control" name="email_creation" id="email_creation">
                      </div>
                      <div class="mb-3">
                        <label for="mdp_creation" class="form-label">Mot de passe</label>
                        <input type="password" [(ngModel)]="formCreation.password" class="form-control" name="mdp_creation" id="mdp_creation" placeholder="••••••••">
                      </div>
                      <div class="mb-3">
                        <label for="date_nais_creation" class="form-label">Date de naissance</label>
                        <input type="date" [(ngModel)]="formCreation.dateNaissance" class="form-control" name="date_nais_creation" id="date_nais_creation">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn" (click)="creer()">Confirmer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>